.directoryTreeContainer {
  display: flex;
}

.folderContainer {
  max-width: 150px;
  max-height: 150px;
}

.fileContainer {
  max-width: 150px;
  max-height: 150px;
}

.gridContainer {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 30px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.checkbox {
}
