.container {
  display: flex;
  flex-direction: column;
}

.fileIconSVG {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.text {
  font-weight: 600;
  max-width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
}

.modalContainer {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: 40px 120px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: scroll;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closeButton {
  justify-content: end;
  width: 64px;
  top: -15px;
  right: -20px;
}

.emptyDiv {
  width: 64px;
}

.fileName {
  display: flex;
  justify-self: center;
}

.previewContainer {
  height: 800px;
}

.downloadContainer {
  margin-top: 20px;
}
