.container {
  display: flex;
  flex-direction: column;
}

.fileIconSVG {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.text {
  font-weight: 600;
  text-overflow: ellipsis;
  max-height: 20px;
}
