.modalContainer {
  position: fixed;
  /* left: 0; */
  /* top: 0; */
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  min-height: 400px;
  min-width: 100vh;
  margin: 0 auto;
}
