.dashboardContainer {
  /* width: 1800px; */
  min-height: 100%;
  margin: 2rem;
}

.mainArea {
  width: 100%;
}

.addDocuments {
  display: flex;
}

.fileAdd,
.folderAdd {
  display: flex;
  margin-right: 20px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.plusText {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.plusIcon {
  height: 40px;
  width: 40px;
}

.deleteIcon {
  height: 25px;
  width: 40px;
}

.breadCrumbsContainer {
}

.createFolderButton {
  margin-top: 30px;
  justify-content: center;
}
